<div class="alert alert-success" role="alert" *ngIf="edited" >
  Saved sucessfully
</div>
<div class="alert alert-danger" role="alert" *ngIf="error" >
 {{errorMessage}}
</div>
<div class="container">
    <h1>Personality Test</h1>
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label for="name">Category</label>
        <select class="form-control" name="category" (change)="loadQuestionOnSelect($event.target.value)" id="category" required ngModel >
        <option value="0">--Select--</option>
        <option *ngFor="let categoriesData of categories" value= {{categoriesData.category}}>{{categoriesData.category}}
        </option>  </select>
       </div>
 
      <div class="form-group">
        <label for="question">Question</label>
        <select  class="form-control" id="question"  name="question" ngModel >
            <option value="0">--Select--</option>
            <option *ngFor="let questionApi of questions "
                  value= {{questionApi.question}}>{{questionApi.question}}
            </option>
            </select> 
      </div>
      <div class="form-group">
          <label for="alterEgo">Enter you answer here</label>
          <input type="text" class="form-control" id="answer" name="answer" ngModel >
          </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>
